
body {
  margin: auto;
  padding: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
 
}

.cabecalho{
  background-color: #95ba95;
  height: 230px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 30px;
  
}

#tituloImg{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

}

.cabecalho h1{
  margin: 0;
  text-shadow: 2px 1px 3px #2e6aaa;
}

.cabecalho img {
  width: 150px;
  height: 150px;
}

.menu{

  margin-top: -58px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu a{
  text-decoration: none;
  color: white;
  background-color: #228B22;
  padding: 10px 35px 10px 35px;
  border-radius: 10px;
  margin: 10px;
  
}

.menu a:hover{
  background-color: #60ba60;
}

.menu li{
  
  list-style: none;
  display: inline;
  
  
}

.conteudoPagPrincipal{
  margin-left: 25%;
  width: 800px;
  text-align: justify;
}

.conteudoPagPrincipal h1, h2{
  text-align: center;
  
  text-shadow: 2px 1px 3px #2e6aaa;
}

.conteudoPagPrincipal img{
  margin-left: 20%;
  margin-bottom: 10%;
}



.rodape{
  font-weight: bolder;
  color: white;
  background-color: #95ba95;
  display: flex;
  align-items: center;
  justify-content: center;

}

.corpo{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  flex-direction: column;
  margin-left: 2%;
  
  
}

.corpo form{
  margin: 2%;
}

.botoes{
  display: flex;
  justify-content: center;
  align-items: center;
}

.telefone{
  height: 49px;
  border-radius: 3px;
  border: 0.5px solid #bfb2b2;
  font-size: 12pt;
  padding: 10px;
}

.telefone:hover{
  border: 0.5px solid black;
}

.telefone::placeholder{
  color: #726d6d;
  padding: 10px;
  font-size: 12pt;

}


#botao{
  background-color: #228B22;
  color: white;
  border: none;
  padding: 7px;
  margin-top: 2%;
  width: 100px;
  margin-left: 10px;
}

#botao2{
  
  color: #228B22;
  border: 1px solid #228B22;
  padding: 7px;
  margin-top: 2%;
  width: 100px;
  margin-left: 10px;
}


.textos{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.radios{
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagEnv{
  height: 600px;
  text-align: center;
  padding: 2%;

}

.pagEnv h1{
  text-shadow: 2px 1px 3px #2e6aaa;

}
.pagEnv img{
  margin: 3%;
  height: 350px;
  width: 400px;
  border-radius: 50%;
  border: 4px solid rgba(0,0,0,0.2);

}